body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', */
  /*   'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', */
  /*   sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ddd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-page-header {
  padding: 0 !important;
}

.ant-layout-header {
  background-color: #fff !important;
  box-shadow: 0px 2px 5px #27272780;
}

.ant-layout-header .ant-menu {
  line-height: unset !important;
  height: 100%;
}

.ant-menu-horizontal {
  border: none !important;
}

.ant-btn-loading-icon {
  margin-right: 8px;
}

.ant-btn > .ant-btn-loading-icon .anticon {
  padding-right: unset !important;
}

.space-bottom {
  margin-bottom: 10px !important;
}
